################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatabaseFirst/ContosoUniversity/obj
/DatabaseFirst/ContosoUniversity/bin
/DatabaseFirst/ContosoUniversity.Tests/obj
/DatabaseFirst/ContosoUniversity.Tests/bin
/DatabaseFirst/packages
/CodeFirst/ContosoUniversity/obj
/CodeFirst/ContosoUniversity/bin
/CodeFirst/ContosoUniversity.Tests/obj
/CodeFirst/ContosoUniversity.Tests/bin
/CodeFirst/packages
